.header 
    i.fas.fa-arrows-alt-h.toogle-sidebar
    .dropdown.notification-container
        i.fa.fa-bell.fa-lg#notification( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notification')
            .noti-head
                |notifation 
                span  50
            .noti-content
                    ul.list-unstyled
                        li
                            i.fa.fa-envelope.fa-lg  you hav got email
                        li
                            i.fa.fa-camera.fa-lg  you hav got email
                        li
                            i.fa.fa-camera.fa-lg  you hav got email                                                        
            .noti-footer
                a(href="#") show all notification
         



