.side-bar
    .logo-area Yassin
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pagetitile === 'Home' ? 'active' : '')    Home 
        li
            a(href="#")    
                |FORMS
                i.fas.fa-angle-right.toggle-subminue

            ul.child-links.list-unstyled
                li: a(href="#")    loading
                li: a(href="#")    downloads
                li: a(href="#")    pages
        li
            a(href="#")    
                |Info
                i.fas.fa-angle-right.toggle-subminue
            ul.child-links.list-unstyled
                li: a(href="#")    mixing
                li: a(href="#")    uploads
                li: a(href="#")    pages 
        li
            a(href="chart.html" class= pagetitile === 'chart' ? 'active' : '')    
                |Chart                                                                               



