.side-bar
    .logo-area Yassin
    ul.links-area.list-unstyled
        li: a(href="#")    Home
        li
            a(href="#")    
                |FORMS
                i.fas.fa-angle-right.toggle-subminue

            ul.child-links.list-unstyled
                li: a(href="#")    loading
                li: a(href="#")    downloads
                li: a(href="#")    pages
        li
            a(href="#")    
                |Content
                i.fas.fa-angle-right.toggle-subminue
            ul.child-links.list-unstyled
                li: a(href="#")    mixing
                li: a(href="#")    uploads
                li: a(href="#")    pages                                                                



