include pug/variables/variables.pug
<!DOCTYPE html>
html(lang="en")
    head
        include pug/meta/meta.pug
        include pug/links/links.pug
        title #{pagetitile}
    body
        button(class="btn btn-danger btn-lg") i love yassin
        
        // start settings

        include pug/scripts/script.pug  
